{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Article</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Likes</th>
                <td>{{ entity.likes }}</td>
            </tr>
            <tr>
                <th>Countread</th>
                <td>{{ entity.countRead }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ entity.contenu }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('article') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('article_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
